:root {
  --ff-primary: 'Istok Web', sans-serif;
  --ff-secondary: 'Indie Flower', cursive;

  --fw-bold: 700;

  --fs-small: 1.25rem;
  --fs-xsmall: 0.75rem;
  --fs-medium: 1.5rem;
  --fs-large: 2.25rem;
  --fs-xlarge: 2.5rem;
  --fs-xxlarge: 3rem;
}


/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Setting up the styles */
body {
  font-family: var(--ff-primary);
  text-align: center;
  height: 100%;
}

.fs-xsmall {
  font-size: var(--fs-xsmall);
}
.fs-small {
  font-size: var(--fs-small);
}
.fs-medium {
  font-size: var(--fs-medium);
}
.fs-large {
  font-size: var(--fs-large);
}
.fs-xlarge {
  font-size: var(--fs-xlarge);
}
.fs-xxlarge {
  font-size: var(--fs-xxlarge);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.font-indie-flower {
  font-family: var(--ff-secondary);
}

.header {
  margin-top: 1em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 3.5em 0 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.score-display {
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 1em;
}
.score-result {
  padding: 0.2em 0.5em;
}

.footer {
  line-height: 1.3em;
}
a, a:active {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: none;
}

.btn {
  font-size: 5rem;
}

.clicked {
  transition: 1s ease-in-out;
  transform: scale(1.1);
  box-shadow: black 0px 0px 0.5rem;
  background-color: rgba(15, 146, 146, 0.342);
}

.btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 620px) {
  .container {
   display: flex;
   gap: 1em; 
   justify-content: center;
   align-items: center;
  }
}

@media screen and (max-width: 490px) {
  .fs-large {
    font-size: var(--fs-medium);
  }

  .fs-medium {
    font-size: var(--fs-small);
  }

  .fs-small {
    font-size: var(--fs-xsmall);
  }

  .container {
    margin-top: 2em;
    justify-content: center;
  }

  .btn-container {
    gap: 0;
  }
}